/* scrollbar style  */
*::-webkit-scrollbar {
    width: 12px;
}


*::-webkit-scrollbar:horizontal {
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(212, 211, 211);
    border-radius: 20px;
    background-clip: content-box;
    border: 4px solid transparent;


}

*::-webkit-scrollbar-thumb {
    background-color: rgb(83, 82, 82);
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    height: 2px;
}



html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.divider {
    height: 100px;
}


/* default nav bar */
.navbar {
    position: relative;
    transition: all 1s ease-out;
    display: flex;
    z-index: 99;

}

.nav-items {
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
    margin-top: 0px;
    padding-left: 15px;
}

.nav-items li {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* scrolling state nav bar */
.navbar.fixed-top {
    position: fixed;
    margin: 0;
    width: 100%;
    top: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 5px 8px -5px #a58682, 0px 1px 10px 0px #999;
    z-index: 100;

}

#nav-brand {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: black;
    letter-spacing: 5px;
    font-size: 40px;
    transition: all 0.5s ease-out;
    font-weight: 900;
}

#nav-brand:hover {
    transition: 1s;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
    text-shadow:
        3px 3px 0 rgb(0, 0, 0),
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}



/* dropdown menu arrow sign */
.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    margin-bottom: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.links,
.hidden-link {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 16px;
    display: inline-block;
}

.links:hover,
.hidden-link:hover {
    text-decoration: underline;
}

.menu-btn {
    border: none;
    padding: 16px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-family: 'Nunito', sans-serif;
    position: relative;

}

.hidden-link {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-size: 15px;

}

.links {
    display: inline-block;
}



.dropdown {
    position: relative;
}

.dropdown:hover .menu-content {
    display: block;
}

.menu-content {
    position: relative;
    display: none;
    z-index: 1;
    border: 1px solid #cac9c9;

}

.hamburger-menu {
    display: none;
}


.ham-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 6px auto;
    background-color: rgb(70, 69, 69);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;
}

*::selection {
    background-color: rgb(155, 198, 202);
}

.top-page {
    height: auto;
    overflow: hidden;
    background-size: cover;
    margin: 0;
}

.bubble {
    position: relative;
    margin-left: 10%;
    height: auto;
    margin-top: 3%;
}


/* main class page title on landing page */
.bubble h2 {
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 55px;
    margin-bottom: 0;
    margin-top: 0;
    color: black;
    font-weight: 900;
}


.bubble h3 {
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    margin-bottom: 0;
    position: relative;
    top: 30px;
    color: black;
}

.caption {
    text-align: center;
    margin: 3% 8% 0 8%;
    font-family: 'Nunito', serif;
    font-size: 20px;
}

.top-page #jobs-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    flex-wrap: wrap;
}

.classes {
    font-family: 'Pangolin', serif;
    font-size: 25px;
    padding: 20px 100px;
    /* border: #000 solid 1px; */
    border-radius: 25px;
    width: 20%;
    height: 200px;
    text-align: center;
    margin: 35px;
    text-decoration: none;
    color: black;
    -webkit-box-shadow: 6px 10px 20px -3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 6px 10px 20px -3px rgba(0, 0, 0, 0.35);
    box-shadow: 6px 10px 20px -3px rgba(0, 0, 0, 0.35);
}


.classes:hover {
    transform: scale(1.03);
}

.classes p {
    margin-top: 0;
    letter-spacing: 5px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

#magician {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 8%, transparent 35%), linear-gradient(rgba(252, 250, 250, 0.4), rgba(245, 241, 241, 0.4)), url("../images/about_bg.png") bottom;
    background-size: cover;
}

#archer {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 8%, transparent 35%), linear-gradient(rgba(252, 250, 250, 0.4), rgba(245, 241, 241, 0.4)), url("../images/archer_bg.png") bottom;
    background-size: cover;
}

#warrior {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 8%, transparent 35%), linear-gradient(rgba(252, 250, 250, 0.4), rgba(245, 241, 241, 0.4)), url("../images/warrior_bg.png") bottom;
    background-size: cover;
}

#thief {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 8%, transparent 35%), linear-gradient(rgba(252, 250, 250, 0.4), rgba(245, 241, 241, 0.4)), url("../images/rogue_bg.png") bottom;
    background-size: cover;
}

#class-quiz {
    font-family: 'Nunito', sans-serif;
    color: rgba(0, 0, 0, 0.801);
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 5%;
    border: 1px solid rgba(0, 0, 0, 0.317);
}


/* warrior page */
.warrior-page {
    padding: 100px 0;
    /* height: 1000px; */
    overflow: hidden;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 253, 253, .2), rgb(255, 255, 255)), url("../images/warrior-class.png") no-repeat 50% 100%;
    background-size: cover;
}

.container {
    margin: 3% 0 1% 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.stats {
    background-color: rgba(255, 255, 255);
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    -moz-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    width: 35%;
    margin: 0 2% 0 0;
}

.container p span,
.key-attributes p span {
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    text-align: center;
    display: flex;
    justify-content: center;
}

.stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.stat-details {
    width: 90%;
    margin-left: 5%;
    background-color: rgba(227, 226, 224, 0.7);
    border-radius: 25px;
    height: 50px;
    margin-bottom: 3%;
}

.stat-details span {
    font-family: 'Nunito', sans-serif;
    margin: 0 0 1% 5%;
    font-size: 20px;
    line-height: 50px;

}

.bar {
    position: relative;
    border: solid 1px;
    height: 18px;
    border-radius: 25px;
    width: 70%;
    display: inline-block;
    top: 5px;
    left: 10px;
}

#warrior-attack {
    background: linear-gradient(to right, rgb(241, 91, 91) 70%, transparent 80%);
}

#warrior-defense {
    background: linear-gradient(to right, rgba(241, 91, 91) 70%, transparent 80%);
}

#warrior-mobility {
    background: linear-gradient(to right, rgba(241, 91, 91) 10%, transparent 20%);
}

#warrior-difficulty {
    background: linear-gradient(to right, rgb(241, 91, 91) 30%, transparent 40%);
}

.key-attributes {
    background-color: rgba(255, 255, 255);
    -webkit-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    -moz-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    border-radius: 25px;
    width: 35%;
}

.attribute-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.attribute-details {
    background-color: rgba(227, 226, 224, 0.7);
    width: 90%;
    margin-left: 5%;
    border-radius: 25px;
    height: 50px;
    margin-bottom: 3%;

}

.attribute-details span {
    font-family: 'Nunito', sans-serif;
    margin: 0 0 0 5%;
    font-size: 20px;
    font-weight: 500;
    line-height: 55px;

}

.sub-text {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    display: inline;
    padding-left: 3%;
}

.pro_cons {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    border-radius: 25px;
    padding: 25px;
    background-color: rgba(255, 255, 255);
    -webkit-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    -moz-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    width: 69%;
    position: relative;
    margin: .8% 0;

}

.pro_cons span {
    font-weight: 900;
    font-size: 20px;
}


.warrior-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pro_cons img {
    position: absolute;
    right: 80px;
    bottom: 50px;
    transform: scale(2);
}


/* archer page */
.archer-page {
    padding: 100px 0;
    /* height: 1000px; */
    overflow: hidden;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 253, 253, .2), rgb(255, 255, 255)), url("../images/archer-class.png") no-repeat 50% 100%;
    background-size: cover;
}

#archer-attack {
    background: linear-gradient(to right, rgb(241, 91, 91) 70%, transparent 80%);
}

#archer-defense {
    background: linear-gradient(to right, rgba(241, 91, 91) 30%, transparent 40%);
}

#archer-mobility {
    background: linear-gradient(to right, rgba(241, 91, 91) 50%, transparent 60%);
}

#archer-difficulty {
    background: linear-gradient(to right, rgb(241, 91, 91) 60%, transparent 70%);
}

.archer-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* magician page */

.magician-page {
    padding: 100px 0;
    overflow: hidden;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 253, 253, .2), rgb(255, 255, 255)), url("../images/about_bg.png") no-repeat 50% 100%;
    background-size: cover;
}

#magician-attack {
    background: linear-gradient(to right, rgb(241, 91, 91) 60%, transparent 70%);
}

#magician-defense {
    background: linear-gradient(to right, rgba(241, 91, 91) 30%, transparent 40%);
}

#magician-mobility {
    background: linear-gradient(to right, rgba(241, 91, 91) 50%, transparent 60%);
}

#magician-difficulty {
    background: linear-gradient(to right, rgb(241, 91, 91) 60%, transparent 70%);
}

.mage-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* thief page */

.thief-page {
    padding: 100px 0;
    overflow: hidden;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 253, 253, .2), rgb(255, 255, 255)), url("../images/thief-class.png") no-repeat 50% 100%;
    background-size: cover;
}

#thief-attack {
    background: linear-gradient(to right, rgba(241, 91, 91)70%, transparent 80%);
}

#thief-defense {
    background: linear-gradient(to right, rgba(241, 91, 91) 20%, transparent 30%);
}

#thief-mobility {
    background: linear-gradient(to right, rgba(241, 91, 91) 70%, transparent 80%);
}

#thief-difficulty {
    background: linear-gradient(to right, rgb(241, 91, 91) 70%, transparent 80%);
}

.thief-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* footer styling */
footer {
    background-color: rgba(3, 3, 3, 0.8);
    font-family: 'Nunito', sans-serif;
    height: 80px;
    padding: 3%;
    text-align: center;
    position: relative;
    margin-top: 100px;

}

footer p {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: white;

}

@media (min-width: 320px) {

    /* nav bar */
    .navbar {
        justify-content: space-between;
    }

    .navbar.clicked {
        background-color: #ffffff;
        transition: none;
    }

    .navbar.fixed-top {
        width: 100%;
        height: 60px;
    }

    #nav-brand {
        padding: 25px 0 0 35px;
    }

    .nav-items {
        position: fixed;
        left: -200%;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .nav-items.clicked {
        left: 0;
        background-color: #ffffff;
        top: 57px;
        z-index: 1;
        box-shadow: 0px 13px 10px -10px rgb(153, 153, 153);

    }

    .nav-items li {
        height: 40px;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        padding: 40px 35px 0 0;
    }

    .links,
    .hidden-link {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.815);
        padding: 0;
    }


    .menu-btn {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.815);
        padding: 0;
    }

    .dropdown:hover .menu-content {
        display: none;
    }

    .hiddenLi {
        flex: 0;
    }

    .under {
        display: none;
    }

    .under-guide {
        flex: auto;
    }

    .hidden {
        display: block;
        font-size: 11px;
    }



    /* main page */
    .bubble {
        margin-left: 20px;
    }

    .bubble h2 {
        font-size: 35px;

    }

    .caption {
        text-align: left;
        font-size: 14px;
    }

    .top-page #jobs-container {
        flex-direction: column;
        margin: 3% 5%;
    }

    .classes {
        padding: 0;
        width: 100%;
        margin: 10px 0;
        height: 100px;
    }

    .classes p {
        letter-spacing: 3px;
        font-size: 17px;
        margin-top: 5px;
        margin-left: 25px;
        text-align: left;
        margin-bottom: 0;
    }

    #jobs-container a {
        position: relative;
    }

    .jobs-img {
        position: absolute;
        right: 25px;
        height: 85px;
        top: 10px;
    }

    #class-quiz {
        font-size: 13px;
        letter-spacing: 0;

    }

    #class-quiz span {
        width: 50%;
        display: block;
        line-height: 20px;
        margin: 20px;
        text-shadow: 5px 3px 5px rgb(138, 139, 139);

    }

    #pig-img {
        width: 80px;
        position: absolute;
        bottom: 10px;
        right: 20px;

    }

    /*class heading and caption */
    .bubble h3 {
        font-size: 30px;
        position: initial;
    }

    .container {
        flex-direction: column;
        margin: 0 5%;
    }

    /* warrior page */

    .warrior-page {
        padding-bottom: 100px;
        padding-top: 50px;
    }

    .stats {
        width: 100%;
        margin-top: 15px;
        box-shadow: none;
    }

    .container p span,
    .key-attributes p span {
        font-size: 18px;
    }

    .stat-details {
        height: 40px;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .stat-details span {
        font-size: 13px;
        margin: 0;
        margin-left: 15px;
        line-height: 40px;
    }

    .bar {
        width: 60%;
        height: 10px;
        display: inline-block;
        position: absolute;
        top: 15px;
        left: initial;
        right: 25px;
    }

    .key-attributes {
        width: 100%;
        margin-top: 10px;
        box-shadow: none;
    }

    .attribute-details {
        height: 40px;
    }

    .attribute-details span {
        font-size: 13px;
        line-height: 40px;
    }

    .sub-text {
        font-size: 11px;
        padding-left: 3px;
    }

    .pro_cons {
        margin: 10px 5% 0 5%;
        width: 100%;
        font-size: 13px;
        padding: 15px;
        box-shadow: none;
    }

    .pro_cons span {
        font-size: 15px;
    }

    .pro_cons ul {
        padding-left: 20px;
    }

    .pro_cons img {
        transform: scale(1);
        position: absolute;
        right: 15px;
        left: initial;
        bottom: -100px;

    }

    /* archer page */
    .archer-page {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    /* magician page */
    .magician-page {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    /* thief page */
    .thief-page {
        padding-top: 50px;
        padding-bottom: 100px;
    }



}

@media (min-width: 480px) {

    .bubble {
        margin: 3% 8% 0 8%;
    }

    .classes p {

        font-size: 19px;

    }

    #class-quiz {
        font-size: 15px;
    }

    #class-quiz span {
        width: 60%;
        display: block;
        line-height: 20px;
        margin: 25px;
        text-shadow: 5px 3px 5px rgb(138, 139, 139);
    }

    #pig-img {
        width: 90px;


    }

    .stat-details span {
        font-size: 15px;

    }

    .bar {
        width: 70%;
        right: 30px;
    }

    .attribute-details span {
        font-size: 15px;
    }

    .sub-text {
        font-size: 13px;
        padding-left: 15px;
    }

    .pro_cons {

        padding: 20px;

    }

}

@media(min-width: 600px) {
    .caption {
        font-size: 15px;
    }

    .top-page #jobs-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .classes {
        width: 45%;
        margin: 10px;
        height: 180px;
    }

    .classes p {
        font-size: 19px;
        margin-top: 10px;
        margin-left: 0;
        text-align: center;
    }

    .jobs-img {
        position: absolute;
        height: 110px;
        bottom: 15px;
        top: initial;
        right: initial;
        left: 50%;
        margin-left: -30px;
    }

    #class-quiz {
        font-size: 16px;
        letter-spacing: 1px;
    }

    #class-quiz span {
        width: 90%;
        display: block;
        line-height: 25px;
        margin: 25px 15px 0 15px;
        text-shadow: 5px 3px 5px rgb(138, 139, 139);

    }

    #pig-img {
        width: 80px;
        position: absolute;
        bottom: 10px;
        right: initial;
        left: 50%;
        margin-left: -40px;

    }

    .container {
        flex-direction: row;
        margin: 0 5%;
    }

    .stats {
        width: 49%;
        margin-top: 15px;
        box-shadow: none;
    }

    .stat-details span {
        font-size: 12px;
    }

    .key-attributes {
        width: 49%;
        margin-top: 10px;
        box-shadow: none;
    }

    .bar {
        left: 70px;
        width: 65%;
    }

    .attribute-details span {
        font-size: 12px;
    }

    .sub-text {
        font-size: 10px;
        padding-left: 0px;
    }

    .pro_cons {
        font-size: 13px;
        padding: 25px;

    }

    .pro_cons span {
        font-size: 17px;
    }

    .pro_cons img {
        transform: scale(1.3);
        bottom: -110px;
        right: 25px;
    }

    .warrior-page,
    .archer-page,
    .magician-page,
    .thief-page {
        padding-bottom: 150px;
    }
}

@media(min-width: 801px) {

    /* responsive nav bar */

    #nav-brand {
        padding: 25px 10px 0 45px;
        font-size: 50px;
    }

    .nav-items {
        left: 100px;
        flex-direction: row;
        padding-top: 48px;
    }


    .nav-items li {
        cursor: pointer;
    }

    .hamburger-menu {
        display: none;
    }

    .links,
    .menu-btn {
        font-size: 18px;
        padding: 20px;
    }


    .dropdown:hover .menu-content {
        display: block;
    }

    .hidden,
    .under-guide {
        display: none;
        flex: none;
    }

    .hidden-link {
        font-size: 15px;
        display: block;
        width: 130px;
        padding: 16px;
    }

    .menu-content {
        position: absolute;
        top: 37px;

    }

    #class-quiz span {
        line-height: 35px;
        width: auto;
        text-align: center;
        margin: 20px;
        font-size: 17px;
    }

    .container p span,
    .key-attributes p span {
        font-size: 20px;
    }

    .stat-details span {
        font-size: 15px;
    }

    .bar {
        left: 80px;
        width: 70%;
    }

    .attribute-details span {
        font-size: 15px;
    }

    .sub-text {
        font-size: 13px;
        padding-left: 5px;
    }

    .pro_cons {
        font-size: 14px;

    }

    .bubble h2 {
        font-size: 40px;
    }
}

@media(min-width: 1025px) {
    .bubble h2 {
        font-size: 40px;
    }

    .caption {
        margin-top: 1%;
        margin-bottom: 2%;
    }

    .classes p {
        font-size: 22px;
    }

    .classes {
        height: 200px;
    }

    .jobs-img {
        height: 130px;
        margin-left: -45px;

    }

    #class-quiz span {
        margin: 30px;
    }

    #pig-img {
        width: 90px;
        margin-left: -45px;
    }

    .bar {
        left: 85px;
        width: 70%;
    }

    .sub-text {
        font-size: 14px;
        padding-left: 15px;
    }

    .pro_cons {
        font-size: 15px;
        margin-top: 20px;
    }

    .pro_cons span {
        font-size: 18px;
    }

    .pro_cons img {
        transform: scale(1.5);
        bottom: -120px;
        right: 35px;
    }

}

@media(min-width: 1281px) {

    .caption {
        font-size: 17px;
    }

    .classes {
        height: 250px;
        width: 40%;
        margin: 15px;
    }


    .classes p {
        font-size: 25px;
        margin-top: 15px;

    }

    .jobs-img {
        height: 130px;
        bottom: 30px;
    }

    #class-quiz {
        letter-spacing: 3px;

    }

    #class-quiz span {
        line-height: 40px;
        font-size: 19px;
        margin: 35px;
        text-shadow: 5px 3px 5px rgb(179, 179, 179);


    }

    #pig-img {
        width: 110px;
        margin-left: -55px;
        bottom: 25px;

    }

    /*class heading and caption */
    .bubble h3 {
        font-size: 40px;
    }

    .container {
        margin: 0 7%;
    }

    .container p span,
    .key-attributes p span {
        font-size: 23px;
    }


    .stat-details {
        height: 45px;

    }

    .stat-details span {
        font-size: 17px;
        line-height: 45px;
    }

    .bar {
        left: 100px;
        height: 12px;
    }

    .attribute-details {
        height: 45px;
    }

    .attribute-details span {
        font-size: 17px;
        line-height: 45px;
    }

    .sub-text {
        font-size: 15px;
    }

    .pro_cons {
        margin: 20px 7% 0 7%;
        font-size: 16px;
    }

    .pro_cons span {
        font-size: 20px;
    }

    .pro_cons img {

        bottom: 30px;
        right: 40px;

    }

}

@media (min-width:1500px) {

    /*class heading and caption */

    .bubble h2,
    .bubble h3 {
        margin: 0 8%;
    }

    .caption {
        margin: 1% 15%;
    }

    .classes {
        height: 250px;
        width: 35%;
    }

    .container {
        margin: 0 15%;
    }

    .pro_cons {
        margin: 20px 15% 0 15%;
        padding: 30px;
    }
}