/* scrollbar style  */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar:horizontal {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(212, 211, 211);
    border-radius: 20px;
    background-clip: content-box;
    border: 4px solid transparent;

}

*::-webkit-scrollbar-thumb {
    background-color: rgb(83, 82, 82);
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    height: 2px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("images/landing_bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-animation: slidein 15s;
    animation: slidein 15s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    margin: 0;

}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 2050px;
    }

    to {
        background-position: -160px 0px;
        background-size: 2070px;
    }

}


/* default nav bar */
.navbar {
    padding-left: 30px;
    position: relative;
    transition: all 1s ease-out;
}

/* scrolling state nav bar */
.navbar.fixed-top {
    position: fixed;
    margin: 0;
    width: 100%;
    top: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 5px 8px -5px #a58682, 0px 1px 10px 0px #999;
    z-index: 100;
}

#nav-brand {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: black;
    letter-spacing: 5px;
    font-size: 40px;
    transition: all 0.5s ease-out;
    font-weight: 900;
}

#nav-brand:hover {
    transition: 1s;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
    text-shadow:
        3px 3px 0 rgb(0, 0, 0),
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

/* dropdown menu arrow sign */
.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    margin-bottom: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.links,
.hidden-link {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 16px;
    display: inline-block;
}

.links:hover,
.hidden-link:hover {
    text-decoration: underline;
}

.menu-btn {
    border: none;
    padding: 16px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-family: 'Nunito', sans-serif;
}

.hidden-link {
    display: block;
    background-color: rgb(255, 255, 255, .8);
    font-size: 15px;
    width: 130px;
}

.links {
    display: inline-block;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .menu-content {
    display: block;
}

.menu-content {
    position: absolute;
    display: none;
    z-index: 1;
    border: 1px solid #cac9c9;

}


*::selection {
    background-color: rgb(155, 198, 202);
}


.main-area {
    margin-top: 30%;
}



#bubble {
    background-color: rgb(255, 255, 255, .6);
    border-radius: 25px;
    width: 50%;
    text-align: center;
    position: relative;
    margin-left: 8%;
    height: 300px;
}

#bubble:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -60px;
    right: auto;
    top: 30px;
    bottom: auto;
    border: 30px solid;
    border-color: rgb(255, 255, 255, .6) rgb(255, 255, 255, .6)transparent transparent;
}

/* main maplestory title on landing page */
.main-area h2 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 100px;
    letter-spacing: 5px;
    display: inline;
    margin-bottom: 0;
    position: relative;
    top: 50px;
}

.main-area h2:hover {
    text-shadow: none;
    transition: 1s;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
    text-shadow:
        3px 3px 0 rgb(0, 0, 0),
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

}

.top-message {
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Pangolin', sans-serif;
    font-size: 23px;
    letter-spacing: 4px;
    padding: 20px 50px 40px 50px;
    font-weight: 900;
    position: relative;
    top: 40px;
}

.top-message p {
    display: inline;
}

.top-message img {
    width: 5%;
    position: relative;

}

.btn {

    font-size: 22px;


    font-family: 'Pangolin', sans-serif;
    color: rgba(0, 0, 0, .9);
    letter-spacing: 1px;



}

.btn:hover {
    color: red;

}

.top-page {
    height: 1500px;
    overflow: hidden;

}

/* bubble design for the headers */
.bubble {
    border-radius: 25px;
    position: relative;
    margin-left: 10%;
    height: auto;
    margin-top: 3%;
}



.bubble h2 {
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 55px;
    margin-bottom: 0;
    margin-top: 0;
    color: black;
    font-weight: 900;
}

.about-page {
    height: auto;
    overflow: hidden;
    background: linear-gradient(rgb(255, 255, 255), rgba(245, 241, 241, 0.4), rgb(255, 255, 255)), url("images/about_bg.png") no-repeat bottom;
    margin: 3% 0;
}



.about {
    font-size: 15px;
    line-height: 35px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.7px;
    /* margin: 0 10% 5% 10%; */
    /* background-color: rgb(222, 222, 221); */
    /* width: 1000px; */
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1%;
    position: relative;
}



.about_msg {
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    -moz-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    padding: 25px;
    background-color: white;
    margin: 1% 0 10% 0;
    text-align: center;

}

.about-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-img img {
    opacity: .9;
    width: 80px;
    margin: 3% 5% 0 5%;
}


.user-guide-page {
    height: auto;
    overflow: hidden;
    background: linear-gradient(rgb(255, 255, 255), rgba(245, 241, 241, 0.3), rgb(255, 255, 255)), url("images/userguide_bg.png");
    background-size: contain;
    /* text-align: center; */


}


.steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.steps h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 600;
}

.steps h3>span {
    color: white;
    font-size: 25px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, .8);
    padding: 5px 15px 5px 15px;
    position: relative;
    margin-right: 15px;
}


.steps p {
    font-size: 16px;
    width: 100%;
}

#step-1,
#step-2,
#step-3 {
    width: 24%;
    height: 400px;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    line-height: 50px;
    position: relative;
    color: rgb(0, 0, 0, .9);
    /* background-color: rgb(255, 255, 255, .8); */
    border-radius: 25px;
    overflow: hidden;
    padding: 25px 25px 50px 25px;
    margin: 0 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    -moz-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    background-color: white;
}


#green-snail {
    position: absolute;
    width: 18%;
    right: 0;
    padding: 25px;
    float: right;
    bottom: 0;
}

#blue-snail,
#red-snail {
    position: absolute;
    width: 17%;
    right: 0;
    bottom: 0;
    padding: 25px;
    float: right;
}

.steps a {
    padding: 0px 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
    box-shadow: none;
    font-family: 'Nunito', sans-serif;
    position: absolute;
    bottom: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 1% 0;
    background-color: rgb(0, 0, 0, .8);
    color: white;
}

.steps a:hover {
    box-shadow: none;
    border: 1px solid black;
    background-color: white;
    color: black;
}

.play-now {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 5%;
}

.play-now span {
    font-size: 20px;
    letter-spacing: 0;
    font-style: italic;
    font-weight: 400;
    font-family: 'Pangolin', sans-serif;
}

@keyframes glowing {
    0% {
        background-color: rgb(43, 42, 42);
        box-shadow: 0 0 5px rgb(43, 42, 42);
    }

    50% {
        background-color: #5b5b5c;
        box-shadow: 0 0 20px rgb(66, 66, 66);

    }

    100% {
        background-color: rgb(43, 42, 42);
        box-shadow: 0 0 5px rgb(43, 42, 42);
    }
}

.play-now button {
    animation: glowing 1300ms infinite;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 25px;
    position: relative;
    border-radius: 25px;
    left: 9px;
    top: 20px;
    font-family: 'Pangolin', sans-serif;
    font-weight: 900;
}

.play-now button:hover {
    transform: scale(1.2);
    color: white;

}


#community-page {
    height: auto;
    /* text-align: center; */
    background: linear-gradient(rgb(255, 255, 255), rgba(245, 241, 241, 0.4), rgb(255, 255, 255)), url("images/community_bg.png");
    background-size: cover;
    padding-top: 50px;

}


#flex-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;

}

#social-connect {
    border-radius: 25px;
    width: 37%;
    height: 400px;
    text-align: center;
    /* background-color: rgb(255, 255, 255, .8); */
    background-color: white;
    margin: 0 25px;
    position: relative;
    -webkit-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    -moz-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
}

#social-connect p {

    text-align: center;
    margin-bottom: 0;
    padding: 35px 0 0 0;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 30px;

}

#social-connect span {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 35px 0 0 0;
    border-radius: 25px;
    font-weight: 400;
}


#social1 {
    position: absolute;
    right: 20px;
    bottom: 0;
    padding: 25px;
    transform: scale(1.3);
}

#social2 {
    position: absolute;
    left: 15px;
    top: 10px;
    padding: 25px;
    transform: scale(1.3);
}

#social-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.fa {
    padding: 30px;
    font-size: 33px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 30px 15px;
    position: relative;
}

/* Add a hover effect if you want */
.fa:hover {
    background-color: black;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #6e82aa;
    color: white;

}

/* Youtube */
.fa-youtube {
    background: #ba5a4f;
    color: white;
}

/* twitter */
.fa-twitter {
    background: #79aecf;
    color: white;
}

/* reddit */
.fa-reddit {
    background-color: rgb(216, 122, 71);
    color: white;
}

#news {
    border-radius: 25px;
    width: 37%;
    height: auto;
    margin: 0 25px;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    -moz-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    background-color: white;
}

#news p {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 35px 0 0 0;
    letter-spacing: 1px;
    font-weight: 600;
}

#news span {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 35px 0 0 0;
    border-radius: 25px;
    font-weight: 400;
}

#news form {
    position: relative;
    text-align: center;
    z-index: 1;

}

#news ul {
    display: inline;
}

#news li {
    width: 100%;
    font-family: "Nunito", sans-serif;
    list-style-type: none;
    font-size: 18px;
}

#news label {
    margin: 0 1% 0 0;
    text-align: left;
}

#news input {
    height: 20px;
    margin: 10px 0;
    border: 1px solid #b1b1b1;
    border-radius: 25px;
    padding: 10px 0px 10px 10px;
    font-family: monospace, sans-serif;
    width: 44%;
    background-color: #fffffff6;
    outline: none;
}

#news button {
    font-size: 18px;
    border-radius: 25px;
    padding: 10px 25px;
    font-family: 'Nunito', sans-serif;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    letter-spacing: 1px;
    font-weight: 400;
    border: 1px solid white;
}

#news button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;

}

#news img {
    opacity: .8;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;

}

/* header for maplestory review card slider */
.subbubble {
    position: relative;
    margin-left: 3%;
    margin-top: 2%;
}


.subbubble h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    margin-bottom: 0;
    padding-top: 15px;
    font-weight: 900;
}

#card-section {
    background-color: rgb(255, 253, 253, .99);
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    -moz-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    margin: 0 11%;

}

.owl-carousel {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    border-radius: 35px;

    .card {
        height: 150px;
        border-radius: 25px;
        border-width: thin;
        padding: 30px;
        line-height: 35px;
    }

    #card1 {
        background: linear-gradient(rgb(255, 253, 253, .5), rgb(255, 253, 253, .5)), url("images/express-yourself/communitytalk1.png")no-repeat 100%100%;
        background-size: 200px 200px;

    }

    #card2 {
        background: linear-gradient(rgb(255, 253, 253, .5), rgb(255, 253, 253, .5)), url("images/express-yourself/communitytalk2.png")no-repeat 100%100%;
        background-size: 200px 200px;
    }

    #card3 {
        background: linear-gradient(rgb(255, 253, 253, .5), rgb(255, 253, 253, .5)), url("images/express-yourself/communitytalk3.png")no-repeat 100%100%;
        background-size: 200px 200px;

    }

    #card4 {
        background: linear-gradient(rgb(255, 253, 253, .5), rgb(255, 253, 253, .5)), url("images/express-yourself/communitytalk4.png")no-repeat 100%100%;
        background-size: 200px 200px;
    }

    #card5 {
        background: linear-gradient(rgb(255, 253, 253, .5), rgb(255, 253, 253, .5)), url("images/express-yourself/communitytalk5.png")no-repeat 100%100%;
        background-size: 200px 200px;

    }

    #card6 {
        background: linear-gradient(rgb(255, 253, 253, .5), rgb(255, 253, 253, .5)), url("images/express-yourself/communitytalk6.png")no-repeat 100%100%;
        background-size: 200px 200px;

    }

    .card em,
    p {

        font-style: italic;
        color: black;

    }

    .card span {
        font-weight: 900;
        font-size: 50px;
        color: rgb(0, 0, 0, .5)
    }

    .card b {
        text-align: right;
        color: black;
        letter-spacing: 3px;
        font-weight: 400;
    }
}

.owl-dots {
    text-align: center;
    margin-left: 0;
    padding: 0 0 20px 0;
}

.owl-dot {
    border: 1px solid rgb(204, 193, 182) !important;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
    outline: none;
}

.owl-dot {
    border-radius: 50%;
}

.owl-dot:hover,
.owl-dot.active {
    border: 2px solid black !important;
}

.scrolling-wrapper::-webkit-scrollbar {
    height: 12px;
}

#contact-page {
    height: auto;
    overflow: hidden;
    position: relative;
    padding-top: 150px;

}


#contact-container {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    padding-bottom: 80px;
}

.contact-us {
    height: auto;
    padding-top: 25px;
    background: linear-gradient(rgba(255, 253, 253, 1), rgba(255, 253, 253, .4), rgba(255, 253, 253, 1)), url("images/contact_bg.png");
    background-size: cover;
}



.contact-form {
    display: flex;
    flex-direction: column;
    margin: 0 1%;
    width: 40%;
    text-align: center;

}

#form-caption {
    text-align: center;
    font-size: 25px;
    font-family: "Nunito", sans-serif;
    font-weight: 900;

}

.contact-us form {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    border-radius: 25px;
    padding: 0 0 25px 0;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    -moz-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
}

.contact-form label {
    text-align: left;
    display: inline-block;
    margin: 0 1% 0 0;
}

.contact-us textarea {
    margin: 5px 0;
    border-color: #b1b1b1;
    outline: none;
    width: 60%;
    border-radius: 25px;
    padding-left: 15px;
    padding-top: 10px;
}

.contact-us input {
    height: 20px;
    margin: 5px 0;
    border: 1px solid #b1b1b1;
    outline: none;
    padding: 10px 0px 10px 10px;
    width: 45%;
    font-size: 15px;
    border-radius: 25px;
    font-family: monospace;
}


.contact-us ul {
    list-style-type: none;
    display: inline;
}

.contact-us li {
    padding: 10px 0;
}

.contact-us button {
    appearance: none;
    font-family: inherit;
    font-size: 18px;
    border-radius: 25px;
    padding: 10px 25px;
    font-weight: 400;
    border: solid 1px white;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(0, 0, 0, .8);
    color: white;
    letter-spacing: 1px;
}


.contact-us button:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
}

#contact-caption {
    text-align: center;
    font-size: 25px;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
}

.contact-info {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    border-radius: 25px;
    padding: 0 0 25px 0;
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 0 1%;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    -moz-box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
    box-shadow: 10px 10px 5px 0px rgb(123, 122, 119);
}

.contact-info li {
    text-align: center;
    padding: 20px 0;
}

.contact-info i {
    padding-right: 20px;
}

.contact-info img {
    transform: scale(1.3);
    margin-top: 20px;
    margin-bottom: 0;
}

footer {
    background-color: rgba(3, 3, 3, 0.8);
    font-family: 'Nunito', sans-serif;
    height: 80px;
    padding: 3%;
    text-align: center;
    position: relative;
    margin-top: 100px;

}

footer p {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: white;

}