@media (max-width: 779px) {

    /* nav bar */
    .links,
    .hidden-link,
    .menu-btn {
        font-size: 15px;
    }

    /* landing page */
    #bubble {
        width: 85%;
        height: 250px;
    }

    #bubble:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: -50px;
        right: auto;
        top: 30px;
        bottom: auto;
        border: 25px solid;
        border-color: rgb(255, 255, 255, .6) rgb(255, 255, 255, .6)transparent transparent;
    }

    .top-page {
        height: 900px;
    }

    /* community page */
    #social1 {
        display: none;
    }


}

@media (max-width: 1100px) {

    .top-page {
        height: 1000px;
    }



    /* nav bar */
    .links,
    .hidden-link,
    .menu-btn {
        font-size: 15px;
    }

    /* main page */
    .main-area h2 {
        font-size: 70px;
    }

    .top-message p,
    .btn {
        font-size: 17px;
    }

    #bubble {
        height: 220px;
        width: 75%;
    }

    /* headers */
    .bubble h2 {
        font-size: 35px;
    }

    /* about page */
    .about {
        line-height: 20px;
        width: 85%;
    }

    .about-img img {
        width: 50px;
    }

    /* user guide */

    .steps {
        flex-direction: column;
    }

    .steps h3 {
        font-size: 20px;
        letter-spacing: 0px;
        margin-bottom: 10px;
    }

    .steps h3>span {
        font-size: 18px;
        padding: 3px 10px;
        margin-right: 5px;
    }

    #step-1,
    #step-2,
    #step-3 {
        line-height: 25px;
        height: 280px;
        font-size: 14px;
        height: 150px;
        width: auto;
        margin: 0 7.5% 2% 7.5%;
        padding: 15px 15px 30px 15px;
    }

    #green-snail,
    #blue-snail,
    #red-snail {
        width: 50px;
    }

    .steps a {
        font-size: 14px;
        position: absolute;
        bottom: 5px;

    }

    .play-now {
        padding-top: 20px;
    }

    .play-now span {
        display: none;
    }

    .play-now button {

        font-size: 20px;
    }

    /* community page */

    #flex-container {
        flex-direction: column;
    }

    #social-connect,
    #news {
        width: auto;
        margin: 1% 7.5%;
        height: 200px;
    }

    #social-connect p,
    #news p {
        padding-left: 20px;
        padding-top: 0;
        font-size: 25px;
        margin-bottom: 20px;
        text-align: left;
        margin-bottom: 10px;
    }

    #social-connect span,
    #news span {
        font-size: 14px;
        padding-top: 0;
        padding-left: 20px;
        text-align: left;
        display: block;
    }

    #social1 {
        transform: scale(1.3);
    }

    #social2 {
        display: none;
    }

    .fa {
        padding: 15px;
        font-size: 28px;
        width: 30px;
    }

    #news form {
        text-align: right;
        width: auto;
    }

    #news input {
        height: 10px;
        padding: 5px 0 5px 5px;
        width: 300px;
        margin: 0 40px 5px 0;
    }

    #news button {
        font-size: 14px;
        padding: 5px 10px;
        margin: 0 40px 0 0;
        position: relative;
        left: 0;
        right: 0;
    }

    #card-section {
        margin: 0 7.5%;
    }

    #news img {
        display: none;
    }

    .subbubble h4 {
        font-size: 25px;
    }

    .card p {
        font-size: 15px;
    }

    /* contact page */

    .contact-form {
        width: 500px;
    }

    .contact-form label {
        font-size: 15px;
    }

    .contact-us input {
        height: 15px;
    }

    .contact-us textarea {
        width: 65%;
    }

    .contact-us button {
        font-size: 15px;
    }

}

@media (min-width:1101px) and (max-width:1370px) {

    /* landing page */
    .main-area h2 {
        font-size: 80px;
    }

    .top-message p {
        font-size: 20px;
    }

    #bubble {
        height: 250px;
    }

    /* about page */

    .bubble h2 {
        font-size: 45px;
    }

    .about_msg {
        font-size: 13px;
        line-height: 25px;
    }

    .about-img img {
        width: 70px;
    }

    /* user guide page */

    .steps h3 {
        font-size: 22px;
    }

    .steps h3>span {
        font-size: 22px;

    }

    #step-1,
    #step-2,
    #step-3 {
        line-height: 35px;
        height: 310px;
        font-size: 14px;
    }

    .steps a {
        font-size: 15px;
    }

    /* community page */
    #social-connect {
        height: 350px;
    }

    #social-connect p,
    #news p {
        margin-bottom: 20px;
    }

    #social-connect span,
    #news span {
        font-size: 15px;
    }

    #social1,
    #social2 {
        transform: scale(1.1);
    }

    #social1 {
        right: 10px;
        padding: 17px;
    }

    #social2 {
        display: none;
    }

    .fa {
        width: 25px;
        font-size: 25px;
        padding: 25px;
    }

    #news form {
        width: 100%;
    }

    #news li {
        font-size: 16px;
    }

    #news input {
        height: 15px;
    }

    #news button {
        font-size: 15px;
        right: 70px;
        position: relative;
        right: 0;
    }

    #news img {
        display: none;
    }

    .card p {
        font-size: 17px;
    }
}

@media (max-width: 1500px) {
    #news img {
        transform: scale(.9);
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 1600px) {
    #news img {
        padding: 5px;
    }

    #news button {
        right: 84px;
    }
}

@media (min-width:1371px) and (min-width:1730px) {

    /* about page */
    .about_msg {
        font-size: 17px;
        line-height: 40px;
        padding: 40px;
    }

    .about-img img {
        width: 90px;
    }

    /* user guide page */
    .steps h3 {
        font-size: 33px;
    }

    .steps h3>span {
        font-size: 30px;
    }

    #step-1,
    #step-2,
    #step-3 {
        font-size: 17px;
    }

    /* community page */
    #social-connect p,
    #news p {
        font-size: 35px;
    }

    #social-connect span,
    #news span {
        font-size: 20px;
    }

    #social1,
    #social2 {
        transform: scale(1.5);
    }
}